@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

// Mixins
@mixin heading-style {
    font-size: 200%;
    font-weight: 400;
    width: 200px;
    margin: 0 auto 10px auto;
    color: #fff;
    background-color: deeppink;
    position: relative;
    z-index: 10;
    box-shadow: -5px 5px 1px rgba(255, 20, 145, 0.622);
    border-radius: 5px;
}
@mixin paragraph-style {
    padding: 15px 0;
    text-align: justify;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

body{
    font-family: 'Poppins', sans-serif;
}
// App
div.App{
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

// Home
div.home{
    padding: 0;
    margin: 0;
    position: relative;
}
.mySwiper{
        position: relative;
        width: 100%;
        min-height: 100vh;
    .slide{
        position: relative;
        width: 100%;
        min-height: 100vh;
    }
    .slide-one{
        background-image: url('../images/img-1.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .slide-two{
        background-image: url('../images/img-2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .slide-three{
        background-image: url('../images/img-3.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .swiper-pagination-bullet{
        width: 40px;
        height: 5px;
        border-radius: 1px;
        background-color: #fff;
    } 
    .swiper-pagination-bullet-active{
        background-color: deeppink;

    }
}
// Navabr
div.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    background-color: #231903; //rgba(0,0,0,.5);
    box-shadow: 0px 1px 3px rgba(0,0,0,.8);
    transition: all .3s cubic-bezier(0.39, 0.575, 0.565, 1);
    nav{
        display: flex;
        justify-content: space-between;
        padding: 1% 5%;
        a.logo{
            width: 300px;
            height: 30px;
            transition: all .3s cubic-bezier(0.215, 0.610, 0.355, 1);
            &:hover{
                opacity: .8;
            }
        }
        ul{
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: center;
            li{
                margin-left: 20px;
                a{
                    color: #fff;
                    font-size: 16px;
                    font-weight: 500;
                    text-decoration: none;
                    padding: 10px;
                    transition: all .3s cubic-bezier(0.215, 0.610, 0.355, 1);
                    border-radius: 3px;
                    position: relative;
                    text-align: center;
                   &:hover{
                        // background-color: rgba(0,0,0,.2);
                        opacity: .7;
                       color: deeppink;
                        &::after{
                            content: "";  
                            position: absolute; 
                            display: block;
                            width:100%;
                            height: 4px;
                            border-radius: 1px;
                            bottom: 0;
                            transition: all .3s cubic-bezier(0.215, 0.610, 0.355, 1);
                            left: 0;
                            background-color: deeppink;
                        }
                   }
                }
            }
        }
    }
}

div.navbar.hide-navbar{
    background-color: #231903;
    top: -100px;
    transition: all .3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

// Mission

div.mission{
    padding: 2% 10%;
    text-align: center;
    background-color: #231903;
    color: #fff;
    div.mission-contents{
        h1{
            @include heading-style
        }
        p{
            @include paragraph-style
        }
        
    }
}

// Courses
div.courses{
    padding: 5% 3%;
    background: linear-gradient(#392d12, #1e1502, #3d3d3d);
    div.course-contents{
        display: flex;
        gap: 20px;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        flex-grow: 1;
        div.course{
            min-width: 300px;
            background: linear-gradient(#231903, #3a2904);
            flex: 1;
            padding: 15px;
            border: 1px solid rgba(0,0,0,.2);
            border-radius: 5px;
            box-shadow: 0px 1px 10px rgba(0,0,0,.2);
            transition: all .3s cubic-bezier(0.215, 0.610, 0.355, 1);
            div.card{
                div.title{
                    text-align: center;
                    padding: 15px 0;
                    color: rgba(255, 255, 255, .8);
                    img{
                        width: 80px;
                        height: 80px;
                    }
                    h2{
                        font-size: 150%;
                        font-weight: 500;
                    }
                }
                div.body{
                    padding-bottom: 20px;
                    p{
                        color: rgba(255, 255, 255, 0.622);
                        padding-bottom: 20px;
                    }
                    a{
                        text-decoration: none;
                        color: #fff;
                        display: inline-block;
                        padding: 5px 10px;
                        background: linear-gradient(#00334e, #071f2c);
                        border-radius: 3px;
                        margin: auto;
                        width: 100%;
                        text-align: center;
                        transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
                        box-shadow: 0px 1px 2px rgba(0,0,0,.5);
                        &:hover{
                            background-color: rgb(215, 208, 212);
                        }
                    }
                }
                div.footer{
                    border-top: 1px solid rgba(0,0,0,.1);
                    padding-top: 15px;
                    color: rgba(255, 255, 255, 0.4);
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }
}

div.feedbacks{
    padding: 2% 10%;
    background-color: #231903;
    h1{
        margin-left: 25px;
        color: rgba(255, 255, 255, 0.622);
        font-weight: 500;
        display: inline-block;
        text-align: center;
    }
    .mySwiper-navigation{
        .swiper-wrapper{
            
        }
    }

    div.feedback{
        min-width: 400px;
        padding: 25px;
        color: #fff;
        div.card{
            background-color: rgba(0,0,0,.2);
            padding: 1em 3em;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0,0,0,.8);
            div.header{
                display: flex;
                align-items: center;
                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
                div.name-address{
                    margin-left: 15px;
                    h4{
                        font-size: 100%;
                        font-weight: 500;
                    }
                    h6{
                        font-size: 10px;
                        font-weight: 400;
                        color: rgba(255, 255, 255, 0.622);
                        display: flex;
                        align-items: center;
                        img{
                            width: 10px;
                            height: 10px;
                            margin-right: 5px;
                        }
                    }
                }
            }
            div.body{
                p{
                    font-size: 14px;
                    font-weight: 400;
                    color: #fff;
                    opacity: .5;
                    padding: 15px 0;
                }
            }
        }
    }

    div.swiper-pagination{
        bottom: 0px;
        .swiper-pagination-bullet{
            width: 40px;
            height: 5px;
            border-radius: 1px;
            background-color: #fff;
        } 
        .swiper-pagination-bullet-active{
            background-color: #fff;
    
        }
    }
}

// Pricing
div.pricing{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1c1403;
    padding-bottom: 50px;
    color: #fff;
    h1{
        font-size: 250%;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 50px;
        color: rgba(255, 255, 255, 0.622);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-items: center;
        padding-bottom: 5px;
        &::after{
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 25%;
            width: 50%;
            height: 5px;
            background-color: rgba(255, 255, 255, 0.622);
        }
    }
    div.contents{
        width: 50%;
        display: flex;
        justify-content: center;
        gap:50px;
        .one-to-one{
          
        }
        .one-to-one, .group{
            // background-color: rgba(0,0,0,.1);
            background: linear-gradient(#231903, #3a2904);
            box-shadow: 0 1px 20px linear-gradient(#231903, #3a2904);
            width: 100%;
            border-radius: 5px;
            text-align: center;
            transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            &:hover{
                transform: scale(1.1);
                cursor: pointer;
            }
            div.card{
                padding: 5%;
                .header{
                    h3{
                        font-size: 150%;
                        text-transform: uppercase;
                        font-weight: 500;
                        padding: 20px 0;
                        color: rgba(255,255,255,.7);
                    }
                    h1{
                        color: rgba(255,255,255,.5);
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-items: center;
                        padding-bottom: 5px;
                        &::after{
                            content: "";
                            display: block;
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            width: 50px;
                            height: 3px;
                            background-color: rgba(255, 255, 255, 0.622);
                            transform: translateX(-50%);
                        }
                    }
                }
                div.body{
                    ul{
                        list-style: none;
                        li{
                            display: flex;
                            align-items: center;
                            img{
                                width: 20px;
                                height: 20px;
                                margin-right: 10px;
                            }
                            span{
                                font-size: 15px;
                                color: rgba(255, 255, 255, 0.4);
                            }
                        }
                    }
                    a{
                        display: inline-block;
                        text-decoration: none;
                        color: #fff;
                        // background-color: #00334e;
                        background: linear-gradient(#00334e, #071f2c);
                        box-shadow: 0px 0px 5px rgba(0,0,0,.5);
                        padding: 5px 20px;
                        margin-top: 20px;
                        text-transform: uppercase;
                        width: 100%;
                    }
                }
            }
        }
    }
}