@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

div.App {
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

div.home {
  padding: 0;
  margin: 0;
  position: relative;
}

.mySwiper {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.mySwiper .slide {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.mySwiper .slide-one {
  background-image: url("../images/img-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.mySwiper .slide-two {
  background-image: url("../images/img-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.mySwiper .slide-three {
  background-image: url("../images/img-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.mySwiper .swiper-pagination-bullet {
  width: 40px;
  height: 5px;
  border-radius: 1px;
  background-color: #fff;
}
.mySwiper .swiper-pagination-bullet-active {
  background-color: deeppink;
}

div.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
  background-color: #231903;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}
div.navbar nav {
  display: flex;
  justify-content: space-between;
  padding: 1% 5%;
}
div.navbar nav a.logo {
  width: 300px;
  height: 30px;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
div.navbar nav a.logo:hover {
  opacity: 0.8;
}
div.navbar nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}
div.navbar nav ul li {
  margin-left: 20px;
}
div.navbar nav ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding: 10px;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 3px;
  position: relative;
  text-align: center;
}
div.navbar nav ul li a:hover {
  opacity: 0.7;
  color: deeppink;
}
div.navbar nav ul li a:hover::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 1px;
  bottom: 0;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  left: 0;
  background-color: deeppink;
}

div.navbar.hide-navbar {
  background-color: #231903;
  top: -100px;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

div.mission {
  padding: 2% 10%;
  text-align: center;
  background-color: #231903;
  color: #fff;
}
div.mission div.mission-contents h1 {
  font-size: 200%;
  font-weight: 400;
  width: 200px;
  margin: 0 auto 10px auto;
  color: #fff;
  background-color: deeppink;
  position: relative;
  z-index: 10;
  box-shadow: -5px 5px 1px rgba(255, 20, 145, 0.622);
  border-radius: 5px;
}
div.mission div.mission-contents p {
  padding: 15px 0;
  text-align: justify;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

div.courses {
  padding: 5% 3%;
  background: linear-gradient(#392d12, #1e1502, #3d3d3d);
}
div.courses div.course-contents {
  display: flex;
  gap: 20px;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  flex-grow: 1;
}
div.courses div.course-contents div.course {
  min-width: 300px;
  background: linear-gradient(#231903, #3a2904);
  flex: 1;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
div.courses div.course-contents div.course div.card div.title {
  text-align: center;
  padding: 15px 0;
  color: rgba(255, 255, 255, 0.8);
}
div.courses div.course-contents div.course div.card div.title img {
  width: 80px;
  height: 80px;
}
div.courses div.course-contents div.course div.card div.title h2 {
  font-size: 150%;
  font-weight: 500;
}
div.courses div.course-contents div.course div.card div.body {
  padding-bottom: 20px;
}
div.courses div.course-contents div.course div.card div.body p {
  color: rgba(255, 255, 255, 0.622);
  padding-bottom: 20px;
}
div.courses div.course-contents div.course div.card div.body a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  background: linear-gradient(#00334e, #071f2c);
  border-radius: 3px;
  margin: auto;
  width: 100%;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
div.courses div.course-contents div.course div.card div.body a:hover {
  background-color: rgb(215, 208, 212);
}
div.courses div.course-contents div.course div.card div.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 15px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-weight: 400;
}

div.feedbacks {
  padding: 2% 10%;
  background-color: #231903;
}
div.feedbacks h1 {
  margin-left: 25px;
  color: rgba(255, 255, 255, 0.622);
  font-weight: 500;
  display: inline-block;
  text-align: center;
}
div.feedbacks div.feedback {
  min-width: 400px;
  padding: 25px;
  color: #fff;
}
div.feedbacks div.feedback div.card {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1em 3em;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}
div.feedbacks div.feedback div.card div.header {
  display: flex;
  align-items: center;
}
div.feedbacks div.feedback div.card div.header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
div.feedbacks div.feedback div.card div.header div.name-address {
  margin-left: 15px;
}
div.feedbacks div.feedback div.card div.header div.name-address h4 {
  font-size: 100%;
  font-weight: 500;
}
div.feedbacks div.feedback div.card div.header div.name-address h6 {
  font-size: 10px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.622);
  display: flex;
  align-items: center;
}
div.feedbacks div.feedback div.card div.header div.name-address h6 img {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
div.feedbacks div.feedback div.card div.body p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  opacity: 0.5;
  padding: 15px 0;
}
div.feedbacks div.swiper-pagination {
  bottom: 0px;
}
div.feedbacks div.swiper-pagination .swiper-pagination-bullet {
  width: 40px;
  height: 5px;
  border-radius: 1px;
  background-color: #fff;
}
div.feedbacks div.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}

div.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1c1403;
  padding-bottom: 50px;
  color: #fff;
}
div.pricing h1 {
  font-size: 250%;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 50px;
  color: rgba(255, 255, 255, 0.622);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding-bottom: 5px;
}
div.pricing h1::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 50%;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.622);
}
div.pricing div.contents {
  width: 50%;
  display: flex;
  justify-content: center;
  gap: 50px;
}
div.pricing div.contents .one-to-one, div.pricing div.contents .group {
  background: linear-gradient(#231903, #3a2904);
  box-shadow: 0 1px 20px linear-gradient(#231903, #3a2904);
  width: 100%;
  border-radius: 5px;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
div.pricing div.contents .one-to-one:hover, div.pricing div.contents .group:hover {
  transform: scale(1.1);
  cursor: pointer;
}
div.pricing div.contents .one-to-one div.card, div.pricing div.contents .group div.card {
  padding: 5%;
}
div.pricing div.contents .one-to-one div.card .header h3, div.pricing div.contents .group div.card .header h3 {
  font-size: 150%;
  text-transform: uppercase;
  font-weight: 500;
  padding: 20px 0;
  color: rgba(255, 255, 255, 0.7);
}
div.pricing div.contents .one-to-one div.card .header h1, div.pricing div.contents .group div.card .header h1 {
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding-bottom: 5px;
}
div.pricing div.contents .one-to-one div.card .header h1::after, div.pricing div.contents .group div.card .header h1::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.622);
  transform: translateX(-50%);
}
div.pricing div.contents .one-to-one div.card div.body ul, div.pricing div.contents .group div.card div.body ul {
  list-style: none;
}
div.pricing div.contents .one-to-one div.card div.body ul li, div.pricing div.contents .group div.card div.body ul li {
  display: flex;
  align-items: center;
}
div.pricing div.contents .one-to-one div.card div.body ul li img, div.pricing div.contents .group div.card div.body ul li img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
div.pricing div.contents .one-to-one div.card div.body ul li span, div.pricing div.contents .group div.card div.body ul li span {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.4);
}
div.pricing div.contents .one-to-one div.card div.body a, div.pricing div.contents .group div.card div.body a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(#00334e, #071f2c);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  padding: 5px 20px;
  margin-top: 20px;
  text-transform: uppercase;
  width: 100%;
}/*# sourceMappingURL=app.css.map */