@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&family=Poppins:wght@300;400;500;700&family=Roboto&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

// Mixins
@mixin heading-style {
    font-size: 200%;
    font-weight: 400;
    width: 200px;
    margin: 0 auto 10px auto;
    color: #fff;
    background-color: deeppink;
    position: relative;
    z-index: 10;
    box-shadow: -5px 5px 1px rgba(255, 20, 145, 0.622);
    border-radius: 5px;
}
@mixin paragraph-style {
    padding: 15px 0;
    text-align: justify;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

body{
    font-family: 'Poppins', sans-serif;
}
// App
div.App{
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

// Home
div.home{
    padding: 0;
    margin: 0;
    position: relative;
    div.overlay-wrapper{
        position: fixed;
        width: 100%;
        height: 100%;
        top: -100%;
        left: 0;
        background-color: rgba(0, 0, 0, 0.622);
        z-index: 10;
        transition: all .3s ease-in-out;
        div.overlay{
            width: 100%;
            background-color: #17a43b;
            height: 100%;
            // box-shadow: -2px 5px 10px rgba(0,0,0,.8);
            div.contents{
                header{
                    padding: 20px 30px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    img{
                        height: 25px;
                    }
                    span{
                        display: flex;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        align-items: center;
                        cursor: pointer;
                        justify-content: center;
                        background-color: rgba(0,0,0,.1);
                        color: rgba(255, 255, 255, 0.622);
                    }
                }
                button{
                    margin: 20px 0 20px 20px
                }
                ul{
                    list-style: none;
                    li{
                        margin: 5px 0;
                        a{
                            padding: 10px 15px;
                            display:block;
                            text-decoration: none;
                            color: rgba(255, 255, 255, 0.622);
                            &:hover{
                                background-color: rgba(0, 0, 0, 0.1);
                            }
                        }
                    }
                }
                div.content{
                    position: absolute;
                    bottom: 0;
                    left:0;
                    width: 100%;
                    display: flex;
                    padding: 10% 5%;
                    justify-content: center;
                    gap: 30px;
                    .email, .phone{
                        h4{
                            color:rgba(255, 255, 255, 0.722);
                            font-family: "Montserrat", sans-serif;
                            font-weight: 400;
                            font-size: 16px;
                        }
                        h2{
                            font-family: "Montserrat", sans-serif;
                            font-weight: bold;
                            font-size: 150%;
                            color: rgba(255, 255, 255, 0.5);
                        }
                    }
                }
            }
        }
    }
    div.overlay-wrapper.toggle{
        top: 0;
    }
}

// Swiper
.mySwiper{
        position: relative;
        width: 100%;
        min-height: 75vh;
    .slide{
        position: relative;
        width: 100%;
        min-height: 75vh;
        div.contents{
            display: flex;
            background-color: rgba(0, 0, 0, 0.622);
            min-height: 75vh;
           div.text{
            padding: 10% 5%;
            h1{
                font-size: 300%;
                font-weight: bold;
                font-family: "Montserrat", sans-serif;
                color: #ddd;
                margin-bottom: 20px;
                text-transform: uppercase;
            }
            h3{
                font-size: 100%;
                font-weight: 600;
                font-family: "Montserrat", sans-serif;
                color: rgba(255, 255, 255, 0.622);
                margin-bottom: 20px;
                text-transform: uppercase;
            }
            p{
                font-size: 18px;
                font-weight: 400;
                font-family: "Montserrat", sans-serif;
                color: rgba(255, 255, 255, 0.622);
                margin-bottom: 20px;
            }
           }
        }
    }
    .slide-one{
        background-image: url("../images/Quran/quran3.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .slide-two{
        background-image: url("../images/Quran/quran4.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .slide-three{
        background-image: url("../images/Quran/quran2.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .swiper-pagination-bullet{
        width: 40px;
        height: 5px;
        border-radius: 1px;
        background-color: #fff;
    } 
    .swiper-pagination-bullet-active{
        background-color: deeppink;

    }
    
    @media (max-width:776px){
        .slide-one, .slide-two, .slide-three{
            min-height: 100vh;
            div.contents{
                display: flex;
                min-height: 100vh;
                text-align: center;
                align-items: center;
            }
        }
    }
}
// Navabr
div.navbar{
    display: flex;
    flex-direction: column;
    header{
        div.contact-bar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1% 5%;
            a.logo{
                width: 300px;
                height: 30px;
                transition: all .3s cubic-bezier(0.215, 0.610, 0.355, 1);
                &:hover{
                    opacity: .8;
                }
            }
            div.content{
                display: flex;
                justify-content: center;
                gap: 40px;
                .email, .phone{
                    padding: 10px 0;
                    flex: 1;
                    h2{
                        font-size: 22px;
                        font-weight: bold;
                        font-family: 'Montserrat', sans-serif;
                    }
                    h4{
                        font-size: 16px;
                        font-weight: 400;
                        font-family: 'Montserrat', sans-serif;
                    }
                }
                .email{
                    border-right: 1px solid rgba(0,0,0,.1);
                    padding-right: 30px;
                }
            }
        }
        nav{
            display: flex;
            background-color: #17a43b;
            justify-content: space-between;
            padding: 1% 5%;
            span{
                display: none;
            }
            ul{
                display: flex;
                list-style: none;
                align-items: center;
                justify-content: center;
                li{
                    a{
                        color: #fff;
                        font-size: 16px;
                        font-weight: 500;
                        text-decoration: none;
                        padding: 10px;
                        transition: all .3s cubic-bezier(0.215, 0.610, 0.355, 1);
                        border-radius: 3px;
                        position: relative;
                        text-align: center;
                        border-right: 1px solid rgba(255,255,255,.2);
                       &:hover{
                            &::after{
                                content: "";  
                                position: absolute; 
                                display: block;
                                width:100%;
                                height: 4px;
                                border-radius: 1px;
                                bottom: 0;
                                transition: all .3s cubic-bezier(0.215, 0.610, 0.355, 1);
                                left: 0;
                                background-color: #fff;
                            }
                       }
                    }
                }
            }
        }
        @media (max-width:776px){
            div.contact-bar{
                display: none;
            }
            nav{
                display: flex;
                align-items: center;
                span{
                    display: block;
                    color: #fff;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    line-height: 1.5;
                    img{
                        height: 25px;
                        margin-left: 20px;
                    }
                }
                ul, button{
                    display: none;
                }
            }
        }
    }
   
}
// OVerlay
div.overlay-wrapper{
    display: none;
}
@media (max-width:776px){
    div.overlay-wrapper{
        display: block;
    }
}
div.navbar.hide-navbar{
    background-color: #231903;
    top: -100px;
    transition: all .3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

// Mission

div.mission{
    padding: 2% 10%;
    text-align: center;
    background-color: #eee;
    color: #333;
    div.mission-contents{
        h1{
            @include heading-style
        }
        p{
            @include paragraph-style
        }
        div.content{
            display: flex;
            align-items: center;
            img{
                width: 100%;
                height: 250px;
            }
        }
        @media (max-width:776px){
            div.content{
                flex-direction: column;
                padding: 15px 0;
                img{
                    width: 50%;
                    height: 200px;
                }
            }
        }
    }
    @media (max-width:776px){
        div.mission-contents{
            padding-top: 20px;
            h1{
                font-size: 150%;
            }
            div.content{
                flex-direction: column;
                padding: 15px 0;
                img{
                    width: 30%;
                    height: 200px;
                }
            }
        }
    }
}

// Courses
div.courses{
    padding: 5% 10%;
    background-color: #ddd;
    div.course-contents{
        display: flex;
        gap: 20px;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        flex-grow: 1;
        div.course{
            min-width: 250px;
            background-color: #fff;
            flex: 1;
            padding: 15px;
            border: 1px solid rgba(0,0,0,.2);
            border-radius: 5px;
            // box-shadow: 0px 1px 10px rgba(0,0,0,.2);
            transition: all .3s cubic-bezier(0.215, 0.610, 0.355, 1);
            div.card{
                div.title{
                    text-align: center;
                    padding: 15px 0;
                    color: rgba(0, 0, 0, .8);
                    img{
                        width: 80px;
                        height: 80px;
                    }
                    h2{
                        font-size: 150%;
                        font-weight: 500;
                    }
                }
                div.body{
                    padding-bottom: 20px;
                    p{
                        color: rgba(0, 0, 0, 0.622);
                        padding-bottom: 20px;
                    }
                    a{
                        text-decoration: none;
                        color: #fff;
                        display: inline-block;
                        padding: 5px 10px;
                        background: linear-gradient(#00334e, #071f2c);
                        border-radius: 3px;
                        margin: auto;
                        width: 100%;
                        text-align: center;
                        transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
                        box-shadow: 0px 1px 2px rgba(0,0,0,.5);
                        &:hover{
                            background-color: rgb(215, 208, 212);
                        }
                    }
                }
                div.footer{
                    border-top: 1px solid rgba(0,0,0,.1);
                    padding-top: 15px;
                    color: rgba(0, 0, 0, 0.4);
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }
}

div.feedbacks{
    padding: 2% 10%;
    background-color: #eee;
    h1{
        margin-left: 25px;
        color: rgba(0, 0, 0, 0.622);
        font-weight: 500;
        display: inline-block;
        text-align: center;
    }
    .mySwiper-navigation{
        .swiper-wrapper{
            
        }
    }

    div.feedback{
        min-width: 400px;
        padding: 25px;
        color: #333;
        div.card{
            background-color: #fff;
            padding: 1em 3em;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0,0,0,.8);
            div.header{
                display: flex;
                align-items: center;
                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
                div.name-address{
                    margin-left: 15px;
                    h4{
                        font-size: 100%;
                        font-weight: 500;
                    }
                    h6{
                        font-size: 10px;
                        font-weight: 400;
                        color: rgba(0, 0, 0, 0.622);
                        display: flex;
                        align-items: center;
                        img{
                            width: 10px;
                            height: 10px;
                            margin-right: 5px;
                        }
                    }
                }
            }
            div.body{
                p{
                    font-size: 14px;
                    font-weight: 400;
                    color: #333;
                    opacity: .5;
                    padding: 15px 0;
                }
            }
        }
    }

    div.swiper-pagination{
        bottom: 0px;
        .swiper-pagination-bullet{
            width: 40px;
            height: 5px;
            border-radius: 1px;
            background-color: #fff;
        } 
        .swiper-pagination-bullet-active{
            background-color: #fff;
    
        }
    }
}

// Pricing
div.pricing{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding-bottom: 50px;
    color: #333;
    h1{
        font-size: 250%;
        margin-top: 25px;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 50px;
        color: rgba(0, 0, 0, 0.622);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-items: center;
        padding-bottom: 5px;
        &::after{
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 25%;
            width: 50%;
            height: 5px;
            background-color: rgba(255, 255, 255, 0.622);
        }
    }
    div.contents{
        width: 50%;
        display: flex;
        justify-content: center;
        gap:50px;
        .one-to-one{
          
        }
        .one-to-one, .group{
            background-color: #eee;
            box-shadow: 0 1px 20px linear-gradient(#231903, #3a2904);
            width: 100%;
            border-radius: 5px;
            text-align: center;
            transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
           
            div.card{
                padding: 5%;
                .header{
                    h3{
                        font-size: 150%;
                        text-transform: uppercase;
                        font-weight: 500;
                        padding: 20px 0;
                        color: rgba(0,0,0,.7);
                    }
                    h1{
                        color: rgba(0,0,0,.5);
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-items: center;
                        padding-bottom: 5px;
                        &::after{
                            content: "";
                            display: block;
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            width: 50px;
                            height: 3px;
                            background-color: rgba(255, 255, 255, 0.622);
                            transform: translateX(-50%);
                        }
                    }
                }
                div.body{
                    ul{
                        list-style: none;
                        li{
                            display: flex;
                            align-items: center;
                            img{
                                width: 20px;
                                height: 20px;
                                margin-right: 10px;
                            }
                            span{
                                font-size: 15px;
                                color: rgba(0, 0, 0, 0.4);
                            }
                        }
                    }
                    a{
                        display: inline-block;
                        text-decoration: none;
                        color: #fff;
                        // background-color: #00334e;
                        background: linear-gradient(#00334e, #071f2c);
                        box-shadow: 0px 0px 5px rgba(0,0,0,.5);
                        padding: 5px 20px;
                        margin-top: 20px;
                        text-transform: uppercase;
                        width: 100%;
                    }
                }
            }
        }
    }
    // Media
    @media (max-width:776px){
        div.contents{
            padding: 0 5%;
            display: block;
            width: 100%;
           .one-to-one{
            margin-bottom: 20px;
           }
        }
    }
}

// Footer
div.footer{
    padding: 5% 5% 1% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    div.footer-contents{
        display: flex;
        gap: 30px;
        justify-content: center;
    }
    div.quick-links{
        display: flex;
        flex-direction: column;
        ul{
            list-style: none;
            li{
                a{
                    text-decoration: none;
                    color: rgba(0, 0, 0, 0.622);
                    display: block;
                    margin: 10px 0;
                    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    &:hover{
                        text-decoration: underline;
                        opacity: .8;
                    }
                }
            }
        }
    }
    div.contact{
        display: flex;
        flex-direction: column;
        div.address, div.email, div.phone{
            margin: 10px 0;
            display: flex;
            align-items: flex-start;
            color: rgba(0, 0, 0, 0.6);
            svg{
                margin-right: 15px;
                width: 10%;
            }
            span{
                width: 90%;
            }
        }
    }
    div.social-medias{
        display: flex;
        flex-direction: column;
       div.icons{
        margin-top: 10px;
        a{
            text-decoration: none;
            color: rgba(0, 0, 0, 0.622);
            width: 30px;
            height: 30px;
            margin-right: 10px;
            transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            &:hover{
                opacity: .8;
            }
        }
       }
    }
    h3{
        font-size: 100%;
        color: rgba(0, 0, 0, 0.7);
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        position: relative;
        margin-bottom: 10px;
        &::after{
            position: absolute;
            content: "";
            display: block;
            left: 0;
            bottom: -5px;
            width: 40px;
            height: 2px;
            z-index: 15;
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
    div.copyright{
        a{
            color: rgba(0, 0, 0, .8);
            text-decoration: none;
            transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            &:hover{
                opacity: .7;
                text-decoration: underline;
            }
        }
    }
    @media (max-width:776px){
        div.footer-contents{
            display: block;
        }
        div.quick-links, div.contact, div.social-medias{
            margin: 20px 0;
        }
    }
}
@media (max-width:776px){
    div.footer{
        padding: 2%;
    }
}